html {
  height: 100%;

}

body {
  text-align: center;
  background: white;
  color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#navbar a {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: white;
  float: left;
}



li a:hover {
background-color: #111;
}

.active {
  background-color: red;
}

.darkmode_button {
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: white;
  float: left;
}

.darkmode_button:hover {
  background-color: #111;
}



h1 {

  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 200%;
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

hr {
  width: 90vw;
  border: 0px solid black;
  padding: 0;
  height: 0.3em;
  background: black;
  margin-top: 1em;
}

iframe {
  width: 50vw;
  height: 37.5vw;
  margin-top: 1em;
  max-width: 2000px;
  max-height: 1500px;
  font-size: 1vw;
}

@media only screen and (max-width: 800px) {
  iframe {
    width: 90vw;
    height: 67.5vw;
    margin-top: 1em;
    max-width: 2000px;
    max-height: 1500px;
  }
}


.container {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(1, 1fr);
}

.item {
grid-column: 1 / 2;
grid-row-start: auto;
grid-row-end: auto;
}

.flex-container {
display: flex;
flex-flow: row wrap;
justify-content: center;
border: 0px solid #111;
min-height: fit-content;
max-width: 80vw;
margin: auto;
}

.flex-item {
padding: 0.3em;
width: max-content;
height: max-content;
}

.flex-item img {
  width: auto;
  height: 24em;
  }


.flex-item video{
  width: auto;
  height: 24em;
}

@media only screen and (max-width: 840px) {
  .flex-item img {
    width: 90vw;
    height: auto;
  }

  .flex-item video{
    width: 90vw;
    height: auto;
  }

}






/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
  padding-top: 3.8em;
  }


table {
text-align: left;
margin: auto;
}

p {
max-width: 70vw;
margin: auto;
}

.ta:link {
  color: lime;
}
.ta:visited {
  color: green;
}
