.carus_container {
    position: relative;
    width: 70vw;
    margin: auto;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row-start: auto;
    grid-row-end: auto;
    height: 38vw;
    z-index: -1;
    margin-top: 10px;
}

.carousel {
    width: 70vw;
    height: 100vw;
    margin: auto;
    overflow: hidden;

  }

  .carousel-item {
    width: 70vw;
    position: absolute;
    top: 0;
    left: 100%;
    margin: auto;
    animation: 12s autoplay infinite ease-in-out;
    height: fit-content;
  }
  .carousel-item img {
    width: 70vw;
    height: auto;
  }
  @keyframes autoplay {
    0% {left: 100%}
    5% {left: 0%}
    25% {left: 0%}
    30% {left: -100%}
    100% {left: -100%}
  }
  .carousel-item:nth-child(1) {animation-delay: 0s}
  .carousel-item:nth-child(2) {animation-delay: 3s}
  .carousel-item:nth-child(3) {animation-delay: 6s}
  .carousel-item:nth-child(4) {animation-delay: 9s}